.margin-b {
	margin-bottom:$gap;
	&.reset {margin-bottom:0 !important}
	&.lg {margin-bottom:$gap-lg}
	&.md {margin-bottom:$gap-md}
	&.sm {margin-bottom:$gap-sm}
	&.xs {margin-bottom:$gap-xs}
}

.margin-t {
	margin-top:$gap;
	&.reset {margin-top:0 !important}
	&.lg {margin-top:$gap-lg}
	&.md {margin-top:$gap-md}
	&.sm {margin-top:$gap-sm}
	&.xs {margin-top:$gap-xs}
}

.margin {
	margin:$gap;
	&.reset {margin:0 !important}
	&.lg    {margin:$gap-lg}
	&.md    {margin:$gap-md}
	&.sm    {margin:$gap-sm}
	&.xs    {margin:$gap-xs}
}

.margin-r {
	margin-right:$gap;
	&.reset {margin-right:0 !important}
	&.lg    {margin-right:$gap-lg}
	&.md    {margin-right:$gap-md}
	&.sm    {margin-right:$gap-sm}
	&.xs    {margin-right:$gap-xs}
}

.padding-b {
	padding-bottom:$gap;
	&.reset {padding-bottom:0 !important}
	&.lg    {padding-bottom:$gap-lg}
	&.md    {padding-bottom:$gap-md}
	&.sm    {padding-bottom:$gap-sm}
	&.xs    {padding-bottom:$gap-xs}
}

.padding-t {
	padding-top:$gap;
	&.reset {padding-top:0 !important}
	&.lg    {padding-top:$gap-lg}
	&.md    {padding-top:$gap-md}
	&.sm    {padding-top:$gap-sm}
	&.xs    {padding-top:$gap-xs}
}

.padding {
	padding:$gap;
	&.reset {padding:0 !important}
	&.lg    {padding:$gap-lg}
	&.md    {padding:$gap-md}
	&.sm    {padding:$gap-sm}
	&.xs    {padding:$gap-xs}
}
.padding-l {
	padding-left:$gap;
	&.reset {padding-left:0 !important}
	&.lg    {padding-left:$gap-lg}
	&.md    {padding-left:$gap-md}
	&.sm    {padding-left:$gap-sm}
	&.xs    {padding-left:$gap-xs}
}

.brand {color:$brand-primary}
.block {display:block}
.left-align {text-align:left}
.right-align {text-align:right}

.center {text-align:center}
.uline {text-decoration:underline}

.light {@include font-light}
.medium {@include font-medium}
.bold {@include font-bold}

