html {
	position:relative;
	min-height:100%;
}
body {
	@include font-smoothing;
	text-rendering: optimizeLegibility;
	margin:0;
	font-family:$font-regular;
	//@media (min-width:$screen-sm) {
	//	margin:0 0 $footer-height + $footer-vert-padding + $footer-vert-padding;
	//}
}

a {
	// because, why not?
	cursor:pointer;
	@include transition(all 0.15s ease);
	text-decoration:none;
	&:hover {
		text-decoration:underline;
	}
	&:active {}
}

label {@include font-medium}

hr {
	border:0;
	height:1px;
	background:$border-default;
	margin:2rem 0;
}
